################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HerenThere_Svr/HereAndThere/HereAndThere/bin
/HerenThere_Svr/HereAndThere/packages/EntityFramework.6.1.3
